---
import PrintableLayout from "../layouts/Printable.astro";
import { content } from "../lib/content";
import { getDefaultSeoProps } from "../lib/seo";
import authorImg from "../assets/img/author-blue-hair.jpg";
import type { Props as MainHeadProps } from "../components/MainHead.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";
import cardBg from "../assets/img/card-bg.svg";

const renderer = new marked.Renderer();

renderer.link = ({ href, text }) => {
  return `<a href="${href}" target="_blank">${text}</a>`;
};

marked.use({ renderer });

const baseUrl = "https://tolacika.dev/tag";

const headProps: MainHeadProps = getDefaultSeoProps(content, authorImg.src);

const jobCollectionCache = await getCollection("jobCollection");
const tagCollectionCache = await getCollection("tagCollection");

const tagMap = new Map(
  tagCollectionCache.map((tag) => [tag.data.slug, tag.data.label]),
);

function createUrl(path: string): string {
  return content.seo.cannonUrl + path;
}

function formatTagsLine(description: string): string {
  return description.replace(
    /\[([^\]]+)\](?:\(([^)]+)\))?/g,
    (_, text, slug) => {
      const finalSlug = slug ?? text;
      const label = slug ? text : tagMap.get(finalSlug);
      return `[${label}](${baseUrl}/${finalSlug}.html)`;
    },
  );
}
---

<PrintableLayout headProps={headProps} bodyClass="cv-site">
  <Fragment slot="head-end">
    <style>
      @page {
        size: 210mm 148mm; /* A5 landscape */
        margin: 0;
      }

      html,
      body {
        margin: 0;
        padding: 0;
      }

      .page {
        width: 210mm;
        height: 148mm;
        page-break-after: always;
        position: relative;
        overflow: hidden;
      }
      .page.card-item {
        background-size: 100% 100%;
      }
    </style>
  </Fragment>
  <div class="main font-body text-sm">
    <div
      class="page flex items-center justify-center bg-linear-to-br from-hero-gradient-from to-hero-gradient-to text-white"
    >
      <div class="text-center font-header w-full">
        <h1 class="text-4xl font-bold">{content.cardDeck.title}</h1>
        <p class="my-4 text-lg opacity-80">
          {content.cardDeck.subTitle}
        </p>
        {
          content.cardDeck.subLines.map((item) => (
            <p class="opacity-80">{item}</p>
          ))
        }

        <p class="mt-4">
          {
            content.cardDeck.patterns.map((item, i) => (
              <span>
                {tagMap.get(item)}
                {i === 2 ? (
                  <br />
                ) : (
                  i < content.cardDeck.patterns.length - 1 && " • "
                )}
              </span>
            ))
          }
        </p>
        <div class="flex flex-row justify-center items-center mb-16">
          <div set:html={marked.parse(content.cardDeck.visuals.base)} />
          <div class="text-9xl font-thin">{"{"}</div>
          <div class="text-left">
            {content.cardDeck.visuals.items.map((item) => <p>... {item}</p>)}
          </div>
        </div>
        <div class="mt-8 px-8 absolute bottom-8 text-left">
          <p class="font-semibold text-lg">{content.hero.fullName}</p>
          <p class="italic">{content.cardDeck.role}</p>
          <p class="italic">{content.cardDeck.mocroTagline}</p>
        </div>
      </div>
    </div>

    {
      content.cardDeck.cards.map((card) => (
        <div
          class="page card-item bg-white p-4"
          style={`background-image: url(${cardBg.src})`}
        >
          <h2 class="text-2xl font-bold text-center">{card.title}</h2>
          <p class="my-1 text-lg opacity-80 text-center italic">
            {card.teaser}
          </p>
          {card.context.map((item) => (
            <p class="text-xs text-center px-6 opacity-80">{item}</p>
          ))}
          <div class="mt-2 grid grid-cols-4 gap-2">
            {[
              ...card.content,
              {
                topic: "Outcomes:",
                points: card.outcome,
              },
            ].map((con, idx, ary) => {
              const extraClass =
                idx === ary.length - 1
                  ? ary.length % 2 === 1
                    ? "col-start-2"
                    : ""
                  : "";
              return (
                <div
                  class={`border border-primary shadow-sm shadow-gray-500 bg-grey-50 p-1 inline-block col-span-2 ${extraClass}`}
                >
                  <p class="text-xs font-medium font-header">{con.topic}</p>
                  {typeof con.points == "string" ? (
                    <div set:html={marked.parse(formatTagsLine(con.points))} />
                  ) : (
                    <ul>
                      {con.points.map((line) => (
                        <li
                          class="text-2xs"
                          set:html={marked.parse(formatTagsLine(line))}
                        />
                      ))}
                    </ul>
                  )}
                </div>
              );
            })}
          </div>
          <p class="mt-2 text-center">{card.role}</p>
          <div class="mt-2 px-10">
            <p class="text-2xs">References:</p>
            <ul>
              {card.references.map((ref) => (
                <li
                  class="text-2xs"
                  set:html={marked.parse(formatTagsLine(ref))}
                />
              ))}
            </ul>
          </div>
        </div>
      ))
    }

    <div
      class="page flex items-center justify-center bg-linear-to-br from-hero-gradient-from to-hero-gradient-to text-white"
    >
      <div class="text-center font-header w-full">
        <h1 class="text-5xl font-light">{content.cardDeck.outro.title}</h1>
        <p class="mt-10 text-5xl font-light opacity-80">
          {content.cardDeck.outro.subTitle}
        </p>
        <div class="mt-14 text-xl font-medium">
          {
            content.cardDeck.outro.cta.map((item) => (
              <p class="opacity-80">{item}</p>
            ))
          }
        </div>
        <div>
          {
            [
              content.cv.portfolioUrl,
              content.cv.githubUrl,
              content.cv.githubUrl,
            ].map((item) => (
              <div class="text-lg">
                <i class={`bx bxl-linkedin-square text-lg align-middle`} />
                <a href={item.href} target="_blank" class="underline italic text-white">
                  {item.label}
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</PrintableLayout>
