---
import PrintableLayout from "../layouts/Printable.astro";
import { content } from "../lib/content";
import { getDefaultSeoProps } from "../lib/seo";
import authorImg from "../assets/img/author-blue-hair.jpg";
import type { Props as MainHeadProps } from "../components/MainHead.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";

const renderer = new marked.Renderer();

renderer.link = ({ href, text }) => {
  return `<a href="${href}" target="_blank">${text}</a>`;
};

marked.use({ renderer });

const baseUrl = "https://tolacika.dev/tag";

const headProps: MainHeadProps = getDefaultSeoProps(content, authorImg.src);

const jobCollectionCache = await getCollection("jobCollection");
const tagCollectionCache = await getCollection("tagCollection");

const tagMap = new Map(
  tagCollectionCache.map((tag) => [tag.data.slug, tag.data.label]),
);

function createUrl(path: string): string {
  return content.seo.cannonUrl + path;
}

function formatTagsLine(description: string): string {
  return description.replace(
    /\[([^\]]+)\](?:\(([^)]+)\))?/g,
    (_, text, slug) => {
      const finalSlug = slug ?? text;
      const label = slug ? text : tagMap.get(finalSlug);
      return `[${label}](${baseUrl}/${finalSlug}.html)`;
    },
  );
}
---

<PrintableLayout headProps={headProps} bodyClass="cv-site">
  <div class="header header-large bg-primary font-header text-white py-2">
    <div class="container">
      <div class="flex flex-row gap-4">
        <div
          class="flex-none self-start rounded-full border-4 border-primary shadow-xl"
        >
          <img
            src={authorImg.src}
            alt="Author's image"
            class="rounded-full max-w-28"
          />
        </div>
        <div class="flex-auto self-center">
          <h1 class="text-4xl">
            {content.hero.fullName}
          </h1>
          <h2 class="text-2xl font-extralight italic">
            {content.cv.profession}
          </h2>
          <div class="text-base font-light">
            {content.cv.location}
          </div>
        </div>
        <div class="flex-auto self-center text-right">
          <div class="text-lg">
            <i class={`bx bx-link text-lg align-middle`}></i>
            <a
              href={content.cv.portfolioUrl.href}
              target="_blank"
              class="underline italic"
            >
              {content.cv.portfolioUrl.label}
            </a>
          </div>
          <div class="text-lg">
            <i class={`bx bxl-github text-lg align-middle`}></i>
            <a
              href={content.cv.githubUrl.href}
              target="_blank"
              class="underline italic"
            >
              {content.cv.githubUrl.label}
            </a>
          </div>
          <div class="text-lg">
            <i class={`bx bxl-linkedin-square text-lg align-middle`}></i>
            <a
              href={content.cv.linkedinUrl.href}
              target="_blank"
              class="underline italic"
            >
              {content.cv.linkedinUrl.label}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header header-small hidden bg-primary font-header text-white py-2">
    <div class="container">
      <div class="flex flex-row gap-4">
        <div
          class="flex-none self-start rounded-full border-4 border-primary shadow-xl"
        >
          <img
            src={authorImg.src}
            alt="Author's image"
            class="rounded-full max-w-16"
          />
        </div>
        <div class="flex-auto self-center">
          <h1 class="text-2xl text-center">
            {content.hero.fullName} |
            <span class="font-extralight italic">
              {content.cv.profession}
            </span>
          </h1>
          <div class="text-lg font-light flex justify-around">
            <span>
              <i class={`bx bx-link text-lg align-middle`}></i>
              <a
                href={content.cv.portfolioUrl.href}
                target="_blank"
                class="underline"
              >
                {content.cv.portfolioUrl.label}
              </a>
            </span>

            <span>
              <i class={`bx bxl-github text-lg align-middle`}></i>
              <a
                href={content.cv.githubUrl.href}
                target="_blank"
                class="underline"
              >
                {content.cv.githubUrl.label}
              </a>
            </span>

            <span>
              <i class={`bx bxl-linkedin-square text-lg align-middle`}></i>
              <a
                href={content.cv.linkedinUrl.href}
                target="_blank"
                class="underline"
              >
                {content.cv.linkedinUrl.label}
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main font-body text-sm">
    <div class="container bg-white py-4 px-0">
      <div class="break-inside-avoid px-4">
        <h3
          class="text-xl font-header font-semibold mb-2 py-1 border-b border-b-primary text-primary"
        >
          Profile
        </h3>
        {content.cv.profile.map((p) => <p class="text-justify">{p}</p>)}
      </div>

      <div class="break-inside-avoid px-4">
        <h3
          class="text-xl font-header font-semibold mb-2 mt-2 py-1 border-b border-b-primary text-primary"
        >
          Core Strengths
        </h3>
        <div class="grid grid-cols-2 gap-4">
          {
            content.cv.strengths.map((item, idx) => {
              return (
                <div
                  class={`border border-primary shadow bg-grey-50 p-2 inline-block${idx === 4 ? " col-span-2" : ""}`}
                >
                  <p class="text-lg font-medium font-header">{item.label}</p>
                  {typeof item.desc == "string" ? (
                    <div set:html={marked.parse(formatTagsLine(item.desc))} />
                  ) : (
                    <ul>
                      {item.desc.map((line) => (
                        <li set:html={marked.parse(formatTagsLine(line))} />
                      ))}
                    </ul>
                  )}
                </div>
              );
            })
          }
        </div>
      </div>

      <div>
        <h3
          class="text-xl font-header font-semibold mx-4 mb-2 mt-2 py-1 border-b border-b-primary text-primary"
        >
          Professional Experience
        </h3>
        {
          content.cv.experience.map((item, idx) => {
            if (typeof item !== "string") {
              return (
                <div class={`pt-4 px-4 break-inside-avoid ${idx % 2 ? "bg-grey-50" : "bg-white"}`}>
                  <p class="text-lg font-medium font-header">
                    {item.position}
                    <a
                      class="float-right text-base"
                      href={createUrl(item.link)}
                      target="_blank"
                    >
                      Read more...
                    </a>
                  </p>
                  <p>{item.period}</p>
                  <ul>
                    {item.points.map((i) => (
                      <li>{i}</li>
                    ))}
                  </ul>
                </div>
              );
            }
            const job = jobCollectionCache.find((i) => i.data.slug === item);
            if (!job) return null;
            return (
              <div class={`pt-4 px-4 break-inside-avoid ${idx % 2 ? "bg-grey-50" : "bg-white"}`}>
                <p class="text-lg font-medium font-header">
                  {job.data.position}
                  <a
                    class="float-right text-base"
                    href={createUrl(`/#experience-${job.data.slug}`)}
                    target="_blank"
                  >
                    Read more...
                  </a>
                </p>
                <p>
                  <strong>{job.data.company}</strong> | {job.data.datePeriod}
                </p>
                {job.data.cvSentence && <p>{job.data.cvSentence}</p>}
                {job.data.cvPoints && job.data.cvPoints.length > 0 && (
                  <ul class="mb-0">
                    {job.data.cvPoints.map((p) => (
                      <li>{p}</li>
                    ))}
                  </ul>
                )}
              </div>
            );
          })
        }
      </div>

      <div class="px-4 break-inside-avoid">
        <h3
          class="text-xl font-header font-semibold mb-2 mt-2 py-1 border-b border-b-primary text-primary"
        >
          {content.cv.extra.label}
        </h3>
        <ul>
          {
            content.cv.extra.items.map((item) => (
              <li>
                <strong>{item.label}:</strong>
                {item.desc}
                <a class="float-right" href={createUrl(item.link)} target="_blank">
                  Read more...
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="px-4 break-inside-avoid">
        <h3
          class="text-xl font-header font-semibold mb-2 py-1 border-b border-b-primary text-primary"
        >
          Education
        </h3>
        <ul>
          {content.cv.education.map((i) => <li>{i}</li>)}
        </ul>
      </div>

      <div class="px-4 break-inside-avoid">
        <h3
          class="text-xl font-header font-semibold mb-2 py-1 border-b border-b-primary text-primary"
        >
          Additional
        </h3>
        <ul>
          {content.cv.additional.map((i) => <li>{i}</li>)}
        </ul>
        <h4
          class="text-lg text-center font-header font-medium mt-4 pt-4 pt2 border-t border-t-primary"
          set:html={marked.parse(content.cv.cta)}
        />
      </div>
    </div>
  </div>
</PrintableLayout>
