---
import type { CollectionEntry } from "astro:content";
import type { Content } from "../lib/content";
import HeroTag from "./HeroTag.astro";
import ViewTag from "./ViewTag.astro";

interface Props {
  content: Content;
  tag: CollectionEntry<"tagCollection">;
  partial?: boolean;
}

const { content, tag, partial = false } = Astro.props as Props;
---

<main>
  <HeroTag content={content} tag={tag} partial={partial} />

  <ViewTag content={content} tag={tag} />
</main>
