---
import type { CollectionEntry } from "astro:content";
import ViewPost from "./ViewPost.astro";
import RefPostEntries from "./RefPostEntries.astro";
import Hero from "./Hero.astro";

interface Props {
  post: CollectionEntry<"postCollection">
}

const { post } = Astro.props;
---

<main>
  <Hero
    bgImg={post.data.image ? post.data.image.src : ""}
    bgAlt={`Hero image: ${post.data.title}`}
    title={post.data.title}
    subTitle={post.data.teaser}
    isHeaderDark
  />

  <ViewPost post={post} />

  <RefPostEntries post={post} />
</main>