---
import type { CollectionEntry } from "astro:content";
import ViewTag from "./ViewTag.astro";
import RefTagEntries from "./RefTagEntries.astro";
import Hero from "./Hero.astro";
import HeroLight from "./HeroLight.astro";

interface Props {
  tag: CollectionEntry<"tagCollection">;
  partial?: boolean;
}

const { tag, partial = false } = Astro.props as Props;
---

<main>
  {
    !partial ? (
      <Hero title={tag.data.label} subTitle={tag.data.teaser} isDark />
    ) : (
      <HeroLight title={tag.data.label} subTitle={tag.data.teaser} />
    )
  }

  <ViewTag tag={tag} />

  <RefTagEntries tag={tag} />
</main>
