---
import type { Content } from "../lib/content";
import Intro from "./Intro.astro";
import WorkExperience from "./WorkExperience.astro";
import Services from "./Services.astro";
import ContactDetails from "./ContactDetails.astro";
import FollowMe from "./FollowMe.astro";
import Perspective from "./Perspective.astro";
import ProjectFeatured from "./ProjectFeatured.astro";
import HeroMain from "./HeroMain.astro";
import PostScriptum from "./PostScriptum.astro";

const { content } = Astro.props as { content: Content };

---
<main>
  <HeroMain content={content} />

  <Intro content={content} />

  <Services content={content} />

  <Perspective content={content} />

  <ProjectFeatured content={content} />

  <WorkExperience content={content} />

  <PostScriptum content={content} />

  <ContactDetails content={content} />

  <FollowMe content={content} />
</main>