---
import type { CollectionEntry } from "astro:content";

const {title, subTitle, posts, sectionId, ...props} = Astro.props as {
  title: string,
  subTitle: string, 
  posts: Array<CollectionEntry<"postCollection">>,
  sectionId: string | undefined,
  comingSoon: boolean,
}
const comingSoon = props.comingSoon || posts.length == 0;

---


<section class="bg-grey-50" id={sectionId || "perspective"}>
  <div class="container py-16 md:py-20">

    <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
      {title}
    </h2>

    <p class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
      {subTitle}
    </p>

    <div class="mx-auto grid w-full grid-cols-1 gap-6 pt-12 sm:w-3/4 lg:w-full lg:grid-cols-3 xl:gap-10">

      {comingSoon && [0,1,0].map(cs => (
        <div class={"bg-white shadow group" + (!cs && " hidden lg:block")}>
          <div class="py-6 px-5 xl:py-8 rounded shadow-md">

              <div class="flex space-x-4">
                {cs ? (
                  <span class="block font-body text-lg font-semibold text-black">
                    Coming soon...
                  </span>
                ) : (
                <div class="flex-1">
                  <div class="w-full h-5 my-1 rounded bg-gray-300"></div>
                </div>
                )}
              </div>
              <div class="space-y-2 pt-2">
                <div class="w-full h-4 rounded bg-gray-200"></div>
                <div class="w-full h-4 rounded bg-gray-200"></div>
                <div class="w-3/4 h-4 rounded bg-gray-200"></div>
              </div>
          </div>
        </div>
      ))}
      {!comingSoon && posts.map((post) => (
        <a href={"/post/" + post.id + ".html"} class="bg-white shadow group">

          <!-- Image -->
          <div
            class="relative h-72 bg-cover bg-center bg-no-repeat sm:h-84 lg:h-60 xl:h-72"
            style={`background-image: url(${post.data.image?.src})`}
          >
            <span class="absolute inset-0 block bg-linear-to-b from-blog-gradient-from to-blog-gradient-to opacity-10 transition-opacity group-hover:opacity-50"></span>

            <span class="absolute right-0 bottom-0 mr-4 mb-4 block rounded-full border-2 border-white px-6 py-2 text-center font-body text-sm font-bold uppercase text-white md:text-base">
              {post.data.cta ?? "Read More"}
            </span>
          </div>

          <!-- Content -->
          <div class="py-6 px-5 xl:py-8">
            <span class="block font-body text-lg font-semibold text-black">
              {post.data.title}
            </span>

            <span class="block pt-2 font-body text-grey-20">
              {post.data.teaser}
            </span>
          </div>

        </a>
      ))}

    </div>
  </div>
</section>