---
import type { CollectionEntry } from "astro:content";

interface Props {
  title: string,
  subTitle?: string, 
  posts: Array<CollectionEntry<"postCollection">>,
  sectionId?: string,
  comingSoon?: boolean,
  imageSize?: "normal" | "small";
  class?: string;
}

const {
  title,
  subTitle,
  posts,
  sectionId,
  imageSize = "normal",
  class: classlist = "bg-grey-50",
  ...props} = Astro.props;
const comingSoon = props.comingSoon || posts.length == 0;

---


<section class={classlist} id={sectionId || "perspective"}>
  <div class="container">

    <h2 class="text-center font-header text-2xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl">
      {title}
    </h2>

    {
      subTitle && (
        <p class="pt-6 text-center font-header font-medium text-black sm:text-lg lg:text-xl">
          {subTitle}
        </p>
      )
    }

    <div class="mx-auto grid w-full grid-cols-1 gap-6 pt-12 sm:w-3/4 lg:w-full lg:grid-cols-3 xl:gap-10">

      {comingSoon && [0,1,0].map(cs => (
        <div class={"bg-white shadow group" + (!cs && " hidden lg:block")}>
          <div class="py-6 px-5 xl:py-8 rounded shadow-md">

              <div class="flex space-x-4">
                {cs ? (
                  <span class="block font-body text-lg font-semibold text-black">
                    Coming soon...
                  </span>
                ) : (
                <div class="flex-1">
                  <div class="w-full h-5 my-1 rounded bg-gray-300"></div>
                </div>
                )}
              </div>
              <div class="space-y-2 pt-2">
                <div class="w-full h-4 rounded bg-gray-200"></div>
                <div class="w-full h-4 rounded bg-gray-200"></div>
                <div class="w-3/4 h-4 rounded bg-gray-200"></div>
              </div>
          </div>
        </div>
      ))}
      {!comingSoon && posts.map((post) => (
        <a href={post.data.draft === true ? null : "/post/" + post.id + ".html"} class="bg-white shadow group">

          <!-- Image -->
          <div
            class={`relative ${imageSize == "normal" ? "h-72" : "h-40"} bg-cover bg-center bg-no-repeat sm:h-84 lg:h-60 xl:h-72`}
            style={`background-image: url(${post.data.image ? post.data.image.src : post.data.publicImage ?? ""})`}
          >
            <span class="absolute inset-0 block bg-linear-to-b from-blog-gradient-from to-blog-gradient-to opacity-10 transition-opacity group-hover:opacity-50"></span>

            <span class="absolute right-0 bottom-0 mr-4 mb-4 block rounded-full border-2 border-white px-6 py-2 text-center font-body text-sm font-bold uppercase text-white md:text-base">
              {post.data.cta ?? "Read More"}
            </span>
            <div class="block absolute top-0 left-0 px-2 pt-4">
              {post.data.wip === true && (
                <span class="py-2 px-4 bg-blue-700 text-white rounded-full">WIP</span>
              )}
              {post.data.draft === true && (
                <span class="py-2 px-4 bg-red-700 text-white rounded-full">Draft</span>
              )}
            </div>
          </div>

          <!-- Content -->
          <div class="py-6 px-5 xl:py-8">
            <span class="block font-body text-lg font-semibold text-black">
              {post.data.title}
            </span>

            <span class="block pt-2 font-body text-grey-20">
              {post.data.teaser}
            </span>
          </div>

        </a>
      ))}

    </div>
  </div>
</section>