---
import { $ZodISODateTime } from "zod/v4/core";
import type { SeeAlso } from "../lib/content";

const { also, label } = Astro.props as { also: SeeAlso[]; label: string };

console.log({ also });
---

<p>{label}</p>
<ul>
  {
    also.map((item) => {
      if (item.type == "external")
        return (
          <li>
            <a href={item.link} target="_blank">
              {item.label}
            </a>
          </li>
        );
      if (item.type == "experience")
        return (
          <li>
            <a href={`/${item.link}`}>
              {item.label}
            </a>
            {item.comment && <> – {item.comment}</>}
          </li>
        );
      if (item.type == "post")
        return (
          <li>
            <a href={`/post/${item.link}.html`}>
              {item.label}
            </a>
            {item.comment && <> – {item.comment}</>}
          </li>
        );

      if (item.type == "pattern")
        return (
          <li>
            <a href={`/pattern/${item.link}.html`}>
              {item.label}
            </a>
            {item.comment && <> – {item.comment}</>}
          </li>
        );

      if (item.type == "tag")
        return (
          <li>
            <a href={`/tag/${item.link}.html`}>
              {item.label}
            </a>
            {item.comment && <> – {item.comment}</>}
          </li>
        );
    })
  }
</ul>
