---
import { getCollection } from "astro:content";
import { content } from "../lib/content";
import { getTagBySlug } from "../content.config";
import RefLink from "./RefLink.astro";

interface Props {}

const skills = content.intro.skills;
const tagColl = await getCollection("tagCollection");
---

<section id="skills" class="pb-10">
  <h3
    class="text-left font-header text-2xl font-semibold uppercase mb-4 text-primary sm:text-3xl lg:text-4xl"
  >
    {content.intro.skills.title}
    <span class="text-xt sm:text-2xl lg:text-3xl ml-2 text-gray-800">
      {content.intro.skills.subTitle}
    </span>
  </h3>
  {
    skills.groups.map((group) => {
      return (
        <div class="">
          <p class="font-body font-semibold text-lg lg:text-xl text-black whitespace-pre-wrap border-b-2 border-primary my-3">
            {group.label}
          </p>
          <div class="flex flex-row gap-4 flex-wrap justify-start">
            {group.items.map((item) => {
              const tags = item.tags.map((s) => getTagBySlug(s, tagColl));
              return (
                <div class="bg-white rounded-xl shadow-xl w-full md:w-72 p-1 group hover:bg-primary">
                  <p class="md:text-lg lg:text-xl font-bold text-black group-hover:text-white text-center py-2">
                    {tags.map(t => t.data).map((t, idx) => (
                      <>
                        {idx > 0 ? " / " : ""}
                        <RefLink type="tagGroup" item={t}>{t.label}</RefLink>
                      </>
                    ))}
                  </p>
                  <p class="font-body italic leading-relaxed text-grey-10 group-hover:text-grey-60 text-center md:text-lg">
                    {item.comment}
                  </p>
                </div>
              );
            })}
          </div>
        </div>
      );
    })
  }
</section>
